{%- if page.paginator -%}
{%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
{%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
{%- assign ydf = site.yat.date_format | default: "%b %-d, %Y" -%}
{%- assign ldf = site.last-modified-at.date-format | default: "%b %-d, %Y" -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      {%- assign article = post.content -%}
      {%- assign lang = post.lang -%}
      {%- include functions.html func='get_reading_time' -%}
      {%- assign reading_time = return -%}
      {%- include functions.html func='get_article_excerpt' -%}
      {%- assign excerpt = return -%}
      {%- assign post_url = post.url | relative_url -%}

      <h2 class="post-title">
        <a class="post-link" href="{{ post_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      {%- if post.subtitle -%}
      {%- assign subtitle = post.subtitle -%}
      <h3 class="post-subtitle">{{ subtitle | escape }}</h3>
      {%- endif -%}
      <div class="post-meta">
        <span class="post-date"><i class="fa-solid fa-calendar-day"></i>
          {{ post.date | date: ydf }}
          (<i class="fa-solid fa-pen-to-square"></i>
          {{ post.last_modified_at | date: ldf }})</span><span class="post-reading-time left-vsplit"><i class="far fa-clock"></i> {{ reading_time }}</span>
      </div>
      {%- include functions.html func='get_article_excerpt' -%}
      {%- assign excerpt = return -%}
      <div class="post-excerpt">
        {{ excerpt }}
        {% if excerpt_truncated %}
        <a class="read_more" href="{{ post_url }}">Read More...</a>
        {% endif %}
      </div>
      {%- if post.tags -%}
      <div class="post-tags">
        {%- for tag in post.tags -%}
        <a class="post-tag" href="{{ '/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
        {%- endfor -%}
      </div>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%} {%- include views/paginator.html -%} {%- endif -%} </div>
    {%- endif -%}
